/* line 5, ../sass/index.sass */
.icon-headset {
  display: inline-block;
  width: 14px;
  height: 11px;
  background-image: url("../src/image/iconall.png");
  background-position: 0px -24px;
}

/* line 12, ../sass/index.sass */
.icon-playmusic {
  display: inline-block;
  width: 16px;
  height: 17px;
  background-image: url("../src/image/iconall.png");
  background-position: 0px 0px;
}

/* line 19, ../sass/index.sass */
.icon-prev-music {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-image: url("../src/image/playbar.png");
  background-position: -2px -132px;
}
/* line 26, ../sass/index.sass */
.icon-prev-music:hover {
  background-position: -32px -132px;
}

/* line 29, ../sass/index.sass */
.icon-music-pause {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 33px;
  background-image: url("../src/image/playbar.png");
  background-position: -2px -167px;
}
/* line 36, ../sass/index.sass */
.icon-music-pause:hover {
  background-position: -42px -167px;
}

/* line 39, ../sass/index.sass */
.icon-music-play {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 33px;
  background-image: url("../src/image/playbar.png");
  background-position: -2px -207px;
}
/* line 46, ../sass/index.sass */
.icon-music-play:hover {
  background-position: -42px -207px;
}

/* line 49, ../sass/index.sass */
.icon-next-music {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-image: url("../src/image/playbar.png");
  background-position: -82px -132px;
}
/* line 56, ../sass/index.sass */
.icon-next-music:hover {
  background-position: -112px -132px;
}

/* line 59, ../sass/index.sass */
.icon-music-link {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background-image: url("../src/image/playbar.png");
  background-position: -108px -104px;
}
/* line 66, ../sass/index.sass */
.icon-music-link:hover {
  background-position: -128px -104px;
}

/* line 69, ../sass/index.sass */
.icon-music-bar {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  background-image: url("../src/image/iconall.png");
  background-position: -2px -252px;
}
/* line 76, ../sass/index.sass */
.icon-music-bar:hover {
  background-position: -2px -282px;
}

/* line 79, ../sass/index.sass */
.icon-lock {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 12px;
  background-image: url("../src/image/playbar.png");
  background-position: -81px -383px;
}
/* line 86, ../sass/index.sass */
.icon-lock:hover {
  background-position: -102px -383px;
}

/* line 90, ../sass/index.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 94, ../sass/index.sass */
html, body {
  width: 100%;
  height: 100%;
}

/* line 98, ../sass/index.sass */
#app {
  width: 100%;
}

/* line 101, ../sass/index.sass */
ul {
  list-style: none;
}

/* line 104, ../sass/index.sass */
a {
  text-decoration: none;
}

/* line 107, ../sass/index.sass */
#app {
  background-color: #f5f5f5;
}

/* line 115, ../sass/index.sass */
.nav {
  width: 100%;
  height: 70px;
  font-size: 14px;
  background-color: #242424;
}
/* line 120, ../sass/index.sass */
.nav .nav-inner {
  display: flex;
  width: 1153px;
  height: 100%;
  margin: 0 auto;
  align-items: center;
}
/* line 126, ../sass/index.sass */
.nav .nav-logo {
  margin-right: 20px;
}
/* line 128, ../sass/index.sass */
.nav .nav-menu {
  position: relative;
  height: 100%;
}
/* line 131, ../sass/index.sass */
.nav .nav-menu li {
  display: flex;
  align-items: center;
  float: left;
  height: 100%;
}
/* line 136, ../sass/index.sass */
.nav .nav-menu li a {
  padding: 0 19px;
  color: #ececec;
}
/* line 139, ../sass/index.sass */
.nav .nav-menu li:hover {
  background-color: #000;
}
/* line 141, ../sass/index.sass */
.nav .nav-menu .checked {
  background-color: #000;
}
/* line 143, ../sass/index.sass */
.nav .nav-search {
  position: relative;
  margin-left: 90px;
  margin-right: 20px;
}
/* line 147, ../sass/index.sass */
.nav .nav-search input {
  border-radius: 32px;
  border: 0px;
  outline: none;
  text-indent: 2em;
  width: 158px;
  height: 32px;
  font-size: 12px;
}
/* line 155, ../sass/index.sass */
.nav .nav-search i {
  position: absolute;
  top: 50%;
  left: 6px;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  background-image: url(".././src/image/search.png");
  background-size: 100%;
}
/* line 164, ../sass/index.sass */
.nav .nav-button {
  color: #ececec;
  font-size: 12px;
  padding: 8px 8px;
  border: 1px solid #4a4a4a;
  border-radius: 20px;
}
/* line 170, ../sass/index.sass */
.nav .nav-avatar {
  position: relative;
  margin-left: 30px;
  margin-top: 1px;
}
/* line 174, ../sass/index.sass */
.nav .nav-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
/* line 178, ../sass/index.sass */
.nav .nav-avatar .nav-dragdown {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 158px;
  margin-top: 10px;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.5);
  z-index: 10;
}
/* line 187, ../sass/index.sass */
.nav .nav-avatar .nav-dragdown:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  border: 10px solid transparent;
  border-bottom-color: #2b2b2b;
}
/* line 194, ../sass/index.sass */
.nav .nav-avatar .nav-dragdown li {
  display: flex;
  align-items: center;
  height: 34px;
  background-color: #2b2b2b;
}
/* line 199, ../sass/index.sass */
.nav .nav-avatar .nav-dragdown li:hover {
  background-color: #353535;
}
/* line 201, ../sass/index.sass */
.nav .nav-avatar .nav-dragdown li i {
  display: inline-block;
  margin-left: 24px;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background-image: url("../src/image/toplist.png");
  cursor: pointer;
}
/* line 210, ../sass/index.sass */
.nav .nav-avatar .nav-dragdown li:nth-child(1) i {
  background-position: 0px -80px;
}
/* line 213, ../sass/index.sass */
.nav .nav-avatar .nav-dragdown li:nth-child(2) i {
  background-position: -20px -120px;
}
/* line 216, ../sass/index.sass */
.nav .nav-avatar .nav-dragdown li:nth-child(3) i {
  background-position: 0px -101px;
}
/* line 219, ../sass/index.sass */
.nav .nav-avatar .nav-dragdown li:nth-child(4) i {
  background-position: 0px -220px;
}
/* line 222, ../sass/index.sass */
.nav .nav-avatar .nav-dragdown li:nth-child(5) i {
  background-position: 0px -140px;
}
/* line 225, ../sass/index.sass */
.nav .nav-avatar .nav-dragdown li:nth-child(6) i {
  background-position: 0px -200px;
}
/* line 227, ../sass/index.sass */
.nav .nav-avatar .nav-dragdown li span {
  display: inline-block;
  color: #ccc;
  font-size: 12px;
  cursor: pointer;
}
/* line 233, ../sass/index.sass */
.nav .nav-avatar:hover .nav-dragdown {
  display: block;
}

/* line 236, ../sass/index.sass */
.subnav {
  width: 100%;
  min-width: 1280px;
  height: 34px;
  background-color: #c20c0c;
  border-bottom: 1px solid #a40011;
}
/* line 242, ../sass/index.sass */
.subnav .subnav-inner {
  height: 100%;
  width: 73%;
  margin: 0 auto;
}
/* line 246, ../sass/index.sass */
.subnav .subnav-inner ul {
  margin-left: 178px;
}
/* line 248, ../sass/index.sass */
.subnav .subnav-inner ul li {
  position: relative;
  float: left;
}
/* line 251, ../sass/index.sass */
.subnav .subnav-inner ul li a {
  padding: 3px 13px;
  margin: 7px 17px;
  color: #ececec;
  font-size: 12px;
  line-height: 34px;
}
/* line 257, ../sass/index.sass */
.subnav .subnav-inner ul li:first-child:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  border: 6px solid transparent;
  border-bottom-color: #c20c0c;
}
/* line 265, ../sass/index.sass */
.subnav .subnav-inner ul li:hover a {
  background-color: #9b0909;
  border-radius: 10px;
}
/* line 269, ../sass/index.sass */
.subnav .subnav-inner ul .active a {
  background-color: #9b0909;
  border-radius: 10px;
}

/* line 275, ../sass/index.sass */
.banner {
  position: relative;
  width: 100%;
  height: 336px;
  background-color: #d1d1d1;
}
/* line 280, ../sass/index.sass */
.banner .banner-main {
  width: 981px;
  height: 100%;
  margin: 0 auto;
}
/* line 284, ../sass/index.sass */
.banner .banner-main .banner-main-carousel {
  position: relative;
  width: 730px;
  height: 100%;
  float: left;
}
/* line 289, ../sass/index.sass */
.banner .banner-main .banner-main-carousel .carousel-left {
  position: absolute;
  top: 50%;
  left: -68px;
  transform: translateY(-50%);
  width: 37px;
  height: 63px;
  background-image: url("../src/image/banner.png");
  background-position: 0px -360px;
}
/* line 298, ../sass/index.sass */
.banner .banner-main .banner-main-carousel .carousel-left:hover {
  background-position: 0px -430px;
}
/* line 300, ../sass/index.sass */
.banner .banner-main .banner-main-carousel .carousel-right {
  position: absolute;
  top: 50%;
  right: -319px;
  transform: translateY(-50%);
  width: 37px;
  height: 63px;
  background-image: url("../src/image/banner.png");
  background-position: 0px -503px;
}
/* line 309, ../sass/index.sass */
.banner .banner-main .banner-main-carousel .carousel-right:hover {
  background-position: 0px -573px;
}
/* line 311, ../sass/index.sass */
.banner .banner-main .banner-main-download {
  position: relative;
  float: left;
  width: 251px;
  height: 100%;
  background-image: url("../src/image/download.png");
  background-position: 0px 0px;
}
/* line 318, ../sass/index.sass */
.banner .banner-main .banner-main-download .banner-downloading {
  position: absolute;
  bottom: 68px;
  left: 19px;
  width: 215px;
  height: 56px;
  background-image: url("../src/image/download.png");
  background-position: -19px -212px;
}
/* line 326, ../sass/index.sass */
.banner .banner-main .banner-main-download .banner-downloading:hover {
  background-position: 0px -340px;
}
/* line 328, ../sass/index.sass */
.banner .banner-main .banner-main-download .download-intro {
  position: absolute;
  color: #8d8d8d;
  font-size: 12px;
  bottom: 41px;
  left: 21px;
}

/* line 336, ../sass/index.sass */
.main {
  width: 984px;
  height: auto;
  margin: 0 auto;
}
/* line 340, ../sass/index.sass */
.main:after {
  display: block;
  clear: both;
  content: "";
  height: 0;
}
/* line 345, ../sass/index.sass */
.main .content {
  float: left;
  width: 689px;
  padding: 20px;
  background-color: white;
  border-left: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
}
/* line 352, ../sass/index.sass */
.main .aside {
  float: left;
  width: 250px;
  background-color: white;
}

/* line 364, ../sass/index.sass */
.block-nav {
  padding: 20px;
  padding-bottom: 7px;
  border-bottom: 2px solid #c10d0c;
}
/* line 368, ../sass/index.sass */
.block-nav .block-nav-banner {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../src/image/index.png");
  background-position: -235px -164px;
}
/* line 374, ../sass/index.sass */
.block-nav .block-nav-title {
  margin-left: 10px;
  font-size: 20px;
}
/* line 377, ../sass/index.sass */
.block-nav .block-nav-tab {
  display: inline-block;
  transform: translateY(2px);
}
/* line 380, ../sass/index.sass */
.block-nav .block-nav-tab li {
  float: left;
  border-right: 1px solid #d7d7d7;
}
/* line 383, ../sass/index.sass */
.block-nav .block-nav-tab li a {
  font-size: 12px;
  padding: 0px 12px;
}
/* line 386, ../sass/index.sass */
.block-nav .block-nav-tab li a:visited {
  color: #666;
}
/* line 388, ../sass/index.sass */
.block-nav .block-nav-tab li:last-child {
  border-right: 0px;
}
/* line 390, ../sass/index.sass */
.block-nav .block-nav-more {
  float: right;
  color: #666;
  padding-top: 5px;
  font-size: 12px;
}

/* line 397, ../sass/index.sass */
.block-content .image-block {
  position: relative;
  display: inline-block;
  margin: 15px 16px;
}
/* line 401, ../sass/index.sass */
.block-content .image-block .block-image {
  width: 140px;
  height: 140px;
  box-sizing: border-box;
  border: 1px solid #d8d8d8;
}
/* line 406, ../sass/index.sass */
.block-content .image-block .block-background {
  position: absolute;
  top: 113px;
  left: 0;
  width: 140px;
  height: 27px;
  overflow: hidden;
  background-image: url("../src/image/coverall.png");
  background-position: 0 -535px;
}
/* line 415, ../sass/index.sass */
.block-content .image-block .block-background .icon-headset {
  margin-left: 10px;
  margin-top: 8px;
}
/* line 418, ../sass/index.sass */
.block-content .image-block .block-background .block-visited {
  margin-left: 2px;
  color: #ccc;
  font-size: 12px;
}
/* line 422, ../sass/index.sass */
.block-content .image-block .block-background .icon-playmusic {
  position: absolute;
  right: 10px;
  top: 2px;
  transform: translateY(4px);
}
/* line 427, ../sass/index.sass */
.block-content .image-block .block-descrip {
  width: 140px;
  color: 80808;
  font-size: 14px;
}
/* line 431, ../sass/index.sass */
.block-content .image-block:nth-child(4n+1) {
  margin-left: 0px;
}

/* line 435, ../sass/index.sass */
.aside {
  box-sizing: border-box;
  border: 1px solid #c8c8c8;
  height: 800px;
}
/* line 439, ../sass/index.sass */
.aside .user-center {
  width: 100%;
  padding-top: 20px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  border-bottom: 1px solid #c8c8c8;
}
/* line 445, ../sass/index.sass */
.aside .user-center .user-center-top {
  display: flex;
}
/* line 447, ../sass/index.sass */
.aside .user-center .user-center-top .user-avatar {
  display: block;
  width: 80px;
  height: 80px;
  margin-left: 20px;
  padding: 2px;
  border: 1px solid #dadada;
}
/* line 454, ../sass/index.sass */
.aside .user-center .user-center-top .user-avatar img {
  display: block;
  width: 80px;
  height: 80px;
}
/* line 458, ../sass/index.sass */
.aside .user-center .user-center-top .user-info {
  margin-left: 20px;
}
/* line 460, ../sass/index.sass */
.aside .user-center .user-center-top .user-info .user-name {
  flex: 1;
  color: #333;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: bold;
}
/* line 466, ../sass/index.sass */
.aside .user-center .user-center-top .user-info .user-level {
  margin-top: 2px;
  padding: 2px 8px;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  font-size: 12px;
  color: #858585;
}
/* line 473, ../sass/index.sass */
.aside .user-center .user-center-top .user-info .user-asign {
  padding: 7px 38px;
  margin-top: 14px;
  color: white;
  font-size: 12px;
  background-color: #2778c6;
  border-radius: 5px;
}
/* line 480, ../sass/index.sass */
.aside .user-center .user-center-bottom {
  display: flex;
  margin-top: 22px;
  margin-left: 20px;
  margin-bottom: 18px;
  clear: both;
}
/* line 486, ../sass/index.sass */
.aside .user-center .user-center-bottom li {
  flex: 1;
  padding: 0 18px;
  border-right: 1px solid #e4e4e4;
  color: #666;
}
/* line 491, ../sass/index.sass */
.aside .user-center .user-center-bottom li p {
  font-size: 20px;
}
/* line 493, ../sass/index.sass */
.aside .user-center .user-center-bottom li p:nth-child(2) {
  font-size: 12px;
}

/* line 498, ../sass/index.sass */
.bottom-music {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 53px;
  background-image: url("../src/image/playbar.png");
}
/* line 504, ../sass/index.sass */
.bottom-music .music-inner {
  width: 980px;
  height: 100%;
  margin: 0 auto;
}
/* line 508, ../sass/index.sass */
.bottom-music .music-inner .music-prev {
  position: relative;
  float: left;
  width: 137px;
}
/* line 512, ../sass/index.sass */
.bottom-music .music-inner .music-prev .icon-music-pause, .bottom-music .music-inner .music-prev .icon-music-play {
  transform: translateY(40%);
  margin: 0 6px;
}
/* line 515, ../sass/index.sass */
.bottom-music .music-inner .music-main {
  position: relative;
  float: left;
}
/* line 518, ../sass/index.sass */
.bottom-music .music-inner .music-main .music-avatar {
  margin-top: 12px;
  width: 35px;
  height: 35px;
}
/* line 522, ../sass/index.sass */
.bottom-music .music-inner .music-main .music-info {
  display: inline-block;
  vertical-align: top;
  margin-top: 11px;
  margin-left: 10px;
}
/* line 527, ../sass/index.sass */
.bottom-music .music-inner .music-main .music-info .music-name {
  font-size: 12px;
  color: #e8e8e8;
}
/* line 530, ../sass/index.sass */
.bottom-music .music-inner .music-main .music-info .music-author {
  margin-left: 10px;
  font-size: 12px;
  color: #9b9b9b;
}
/* line 534, ../sass/index.sass */
.bottom-music .music-inner .music-main .music-info .icon-music-link {
  margin-left: 10px;
}
/* line 536, ../sass/index.sass */
.bottom-music .music-inner .music-main .music-process {
  position: absolute;
  bottom: 5px;
  left: 48px;
  width: 493px;
  height: 10px;
  background-image: url("../src/image/statbar.png");
}
/* line 543, ../sass/index.sass */
.bottom-music .music-inner .music-main .music-process .music-process-cur {
  position: relative;
  width: 30%;
  height: 100%;
  background-image: url("../src/image/statbar.png");
  background-position: 0px -65px;
}
/* line 549, ../sass/index.sass */
.bottom-music .music-inner .music-main .music-process .icon-music-bar {
  position: absolute;
  left: 100%;
  transform: translateY(-25%);
}
/* line 553, ../sass/index.sass */
.bottom-music .music-inner .music-main .music-timer {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateY(-20%) translateX(50%);
  color: #797979;
  font-size: 12px;
  letter-spacing: 0.05em;
}
/* line 561, ../sass/index.sass */
.bottom-music .footer-locker {
  position: absolute;
  top: -13px;
  right: 0px;
  width: 52px;
  height: 20px;
  background-image: url("../src/image/playbar.png");
  background-position: 0px -380px;
}
/* line 569, ../sass/index.sass */
.bottom-music .footer-locker .icon-lock {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-25%);
}

/* line 575, ../sass/index.sass */
.footer-transition {
  bottom: -44px;
  transition: all 0.5s;
}
/* line 578, ../sass/index.sass */
.footer-transition:hover {
  bottom: 0px;
}
